.container {
  margin: 0;
  padding: 0;
  flex-basis: calc((100% - 108px) / 7);
  min-width: 27.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.currentDay {
  background: #323f47;
  color: #9be1a0;
}
.selectedDay {
  border-color: #323f47;
}
.defaultBackground {
  background-color: #fff;
}

.number {
  width: 28px;
  height: 28px;
  color: #323f47;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
  background-color: #fff;
  border-radius: 50%;
}
.percentages {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
}
.boldText {
  font-weight: 700;
}

@media (min-width: 768px) {
  .container {
    flex-basis: calc((100% - 336px) / 8);
    gap: 4px;
  }
  .number {
    font-size: 16px;
    line-height: 38px;
    width: 38px;
    height: 38px;
  }
  .percentages {
    font-size: 12px;
    line-height: 1.87;
  }
}
@media (min-width: 1440px) {
  .container {
    flex-basis: calc((100% - 301px) / 8);
  }
}
