.dayWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.currentDay {
  border-radius: 50%;
  background: #323f47;
  color: var(--Accent, #9be1a0);
}

.defaultBackground {
  background-color: #fff;
}

.highlightedBackground {
  background: rgba(50, 63, 71, 0.2);
}

.percentage {
  color: rgba(47, 47, 47, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.86;
}
