.textNoWater {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
}


.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: overlay;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.list::-webkit-scrollbar {
  height: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--Dark-Blue);
  border-radius: 9px;
  cursor: pointer;

  transition: background-color var(--effect);

}

.list::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 9px;
}

.list::-webkit-scrollbar-thumb:hover,
.list::-webkit-scrollbar-thumb:active {
  background-color: var(--green-hover);
}

.list::-webkit-scrollbar-thumb:vertical {
  display: none;
}

@media (min-width: 768px) {
  .textNoWater {
    max-width: 500px;
  }

  .list {
    gap: 32px;

  }
}

@media (min-width: 1440px) {
  .list {
    gap: 16px;
  }
}
