.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.text {
  align-self: center;
  color: rgba(47, 47, 47, 0.5);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}
.title {
  color: #323f47;
  /* Mobile/H2 */
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.32px;
  margin-bottom: 32px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap:nth-child(2) {
  margin-bottom: 16px;
}

.wrap:nth-child(3) {
  margin-bottom: 32px;
}

.label {
  color: #2f2f2f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  margin-bottom: 8px;
}

.text {
  align-self: center;
  color: rgba(47, 47, 47, 0.5);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.link {
  color: #2f2f2f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  cursor: pointer;
}
.input {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0 none;
  color: #2f2f2f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  width: 100%;
  background-color: rgba(240, 239, 244, 1);
}

.input:hover,
.input:focus {
  box-shadow: 7px 5px 29px -18px rgba(50, 63, 71, 1);
}

.input:focus {
  box-shadow: 7px 5px 29px -18px rgba(50, 63, 71, 1);
  transform: scale(1.01);
}

input:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.input::placeholder {
  color: rgba(47, 47, 47, 0.6);

  /* Mobile/Main text */
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.errorInput {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.errorInput + .iconButton {
  color: #ef5050;
}

.btn {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #9be1a0;
  color: #323f47;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  outline: 0 none;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #87d28d;
}

.passwordBox {
  position: relative;
}

.iconButton {
  border: none;
  outline: 0 none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 18px;
  width: 20px;
  height: 20px;
}

.icon svg {
  width: 20px;
  height: 20px;
  stroke: #000;
  fill: #000;
}

.iconError {
  fill: #ef5050;
  stroke: #ef5050;
}

.error {
  color: #ef5050;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
  margin-top: 8px;
}

@media screen and (min-width: 375px) {
  .form {
    width: 311px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 436px;
  }
  .text {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }

  .title {
    font-size: 36px;
    line-height: 38px; /* 105.556% */
    letter-spacing: -0.36px;
  }

  .wrap:nth-child(2) {
    margin-bottom: 20px;
  }

  .label {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }

  .btn {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}
