.containerDailyInfo {
  padding: 20px 20px;

}

.dataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

/* @media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 16px 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 16px 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 32px 32px;
  }
} */

@media screen and (min-width: 768px) {
  .containerDailyInfo {
    padding-left: 32px;
    padding-right: 32px;
  }
}