.dateTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: -0.01em;
  color: var(--Dark-Blue);
}

@media (min-width: 768px) {
  .dateTitle {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media (min-width: 1440px) {}