/* .popover {
  position: absolute;
  top: 54px;
  padding: 14px 20px 14px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 8px;
  width: 137px;
  height: 72px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 500ms linear;
  pointer-events: none;
}

.popover.active {
  opacity: 1;
  pointer-events: all;
} */

.btnDarkblue {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  color: var(--Dark-Blue);
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
.btnDarkblue:hover {
  color: rgba(50, 63, 71, 0.4);
}

.iconDarkblue {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 16px;
  height: 16px;
  stroke: var(--Dark-Blue);
}

.iconDarkblue:hover {
  stroke: rgba(50, 63, 71, 0.4);
}

.btnGray {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  color: rgba(50, 63, 71, 0.4);
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.btnGray:hover {
  color: var(--Dark-Blue);
}

.iconGray {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 16px;
  height: 16px;
  stroke: rgba(50, 63, 71, 0.4);
}

.iconGray:hover {
  stroke: var(--Dark-Blue);
}
@media screen and (min-width: 768px) {
  /* .popover {
    top: 64px;
    width: 157px;
    height: 82px;
  } */

  .btnDarkblue {
    font-size: 15px;
    line-height: 22.4px; /* 128.571% */
  }

  .btnGray {
    font-size: 15px;
    line-height: 22.4px; /* 128.571% */
  }
}
