.gridWrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 65px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  row-gap: 15px;
  column-gap: 48px;
}
@media screen and (max-width: 376px) {
  .gridWrapper {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 44px);
  }
}
