.gridWrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 376px) {
  .gridWrapper {
    grid-template-columns: repeat(7, 1fr);
  }
}
