.container {
  background-color: rgba(240, 239, 244, 1);
  max-width: 672px;
  border-radius: 30px;
  margin-left: 32px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
}

.box {
  margin-top: 0; /* Видаляє відступ зверху */
  padding-top: 0; /* Видаляє відступ всередині */
  margin-left: 32px; /* Додає відступ зліва від контейнера */
  align-self: flex-start;
  margin-bottom: 64px;
}
