.section{
  position: relative;
  width: 672px;
  height: 736px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 64px;
  background-color: #f0f2f5;
  border-radius:30px;
  }

.subtitle{
  width: 316px;
  height: 24px;
  color: rgb(47, 47, 47);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 6%;
  text-align: left;
  margin-bottom: 16px;
}
.title{
    color: rgb(50, 63, 71);
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -1%;
    text-align: left;
    width:547px;
    height: 228px;
    margin-bottom: 32px;
}
.link{
  display: flex;
  gap: 16px;
}
.link_signup,
.link_signin{
  display: flex;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: center;
  align-items: center;
  border-radius: 30px;
  transition: background-color 0.3s;
  border-radius: 30px;
  height: 60px;
  padding: 18px 40px;
}

.link_signup{
  background: rgb(155, 225, 160);
  width: 160px;

}

.link_signin{
  border: 1px solid rgb(50, 63, 71);
  width: 135px;
}
