.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 47, 47, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transition: opacity 500ms linear, transform 500ms linear;
}

.backdrop.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.modal {
  position: relative;
  background-color: var(--white);
  border-radius: 15px;
  transform: scale(0.5);
  transition: transform 500ms ease;
}

.modal.active {
  transform: scale(1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  stroke: rgba(47, 47, 47, 1);
}

@media screen and (min-width: 768px) {
  .btn {
    width: 28px;
    height: 28px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}
