.bg {
  border-radius: 30px;
}

.grey {
  background-color: var(--light-gray);
}

.green {
  background-color: var(--green);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .bg {
    max-width: 343px;
    width: 100%;
    border-radius: 30px;
  }
}

@media screen and (min-width: 375px) {
  .bg {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .bg {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .bg {
    width: 672px;
  }
}
