.useBar {
  position: relative;
}

.btn {
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  min-width: 137px;
  height: 50px;
  align-items: center;
  border-radius: 30px;
  background: var(--Dark-Blue);
  border-color: transparent;
}

/* .wrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
} */

.text {
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .btn {
    min-width: 157px;
    height: 56px;
    column-gap: 10px;
  }

  .text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 128.571% */
    letter-spacing: -0.16px;
  }

  .img {
    width: 44px;
    height: 44px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
