.mainEditWaterModalCont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 47, 47, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
}
.editWaterModalContWindow {
  box-sizing: border-box;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}
.editWaterModalListAndBtn {
  width: 100%;
  position: relative;
  padding: 40px 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.btnCloseModal {
  position: absolute;
  right: 16px;
  top: 20px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btnCloseSvg {
  width: 24px;
  height: 24px;
}

.editWaterTitle {
  width: 248px;
  color: #323f47;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -1.2px;
  margin-bottom: 24px;
}
.editWaterSpan {
  color: #323f47;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.16px;
  margin-bottom: 20px;
}
.amountText {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.14px;
  padding-bottom: 8px;
}
.quantityWrapper {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
.quantityBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  padding: 0;
  border: 1px solid #323f47;
}
.quantityBtn:disabled {
  cursor: not-allowed;
  background-color: rgba(108, 114, 117, 0.3);
}

.quantityIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #323f47;
  width: 100%;
  height: 100%;
}
.numberQuantity {
  border-radius: 50px;
  padding: 11px 20px;
  background-color: #323f47;
  width: 95px;
  display: flex;
  justify-content: center;
}
.quantitySpan {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.editWaterForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.labelRecordingTime {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
}
.editInput {
  width: 100%;
  margin-top: 8px;
  display: flex;
  padding: 14px 16px 16px 14px;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.14px;
  transition: all 0.35s ease-in-out;
}
.editInput:hover,
.editInput:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
  outline: none;
}

.labelValueOfWater {
  color: #323f47;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.16px;
}
.btnSave {
  display: flex;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
  border: none;
  width: 116px;
  color: #323f47;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.14px;
  transition: all 0.35s ease-in-out;
}
.btnSave:hover,
.btnSave:focus {
  background: #87d28d;
}

@media screen and (min-width: 375px) {
  .editWaterModalContWindow {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .editWaterModalContWindow {
    width: 518px;
  }
  .editWaterModalListAndBtn {
    padding: 40px 40px;
  }
  .editWaterTitle {
    width: 347px;
    font-size: 28px;
    line-height: 32px;
  }
  .editWaterSpan {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
  .amountText {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
  .labelRecordingTime {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
  .editInput {
    padding: 16px;
  }
  .labelValueOfWater {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
  .btnSave {
    padding: 18px 50px;
    width: 141px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}
