.container {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 35px;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.containerToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .wrapperContainer {
    max-width: 640px;
  }
}
@media (min-width: 1440px) {
  .wrapperContainer {
    max-width: 608px;
  }
}
