.container {
  padding: 20px 20px;
}
.wrapperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.containerToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.iconBtn {
  display: grid;
  place-items: center;
  transition: all 0.3s;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
  .pagination {
    gap: 20px;
  }
  .header {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    max-width: 608px;
  }
}
