@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
