/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body.lock {
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 32px;
  }
}
