.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-untitled {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-edit-2 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-eye {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-eye-off {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-log-out {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-pie-chart-02 {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-settings {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-trash-04 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-upload {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-x {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}

