.modal {
  background-color: rgba(240, 239, 244, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
}
.container {
  margin-top: 20px;
  /*   position: relative; */
}
.input {
  font-family: Poppins;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-top: 8px;
  background-color: rgba(240, 239, 244, 1);
}

.input:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
  outline: none;
}

.input::placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(47, 47, 47, 0.6);
}
.input:hover,
.input:focus {
  box-shadow: 7px 5px 29px -18px rgba(50, 63, 71, 1);
}

.input:focus {
  box-shadow: 7px 5px 29px -18px rgba(50, 63, 71, 1);
  transform: scale(1.01);
}

.errorInput::placeholder {
  color: rgba(239, 80, 80, 1);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.link {
  font-family: Poppins;
  font-family: Poppins;
  margin-left: 4px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(47, 47, 47, 1);
}
.link:focus,
.link:active {
  color: rgba(135, 210, 141, 1);
}
.h2 {
  font-family: Poppins;
  color: rgba(50, 63, 71, 1);
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.01em;
  text-align: left;
}
.button {
  font-family: Poppins;
  background-color: rgba(155, 225, 160, 1);
  color: rgba(50, 63, 71, 1);
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-top: 32px;
  padding: 16px;
  /*    margin-bottom: 16px; */
  border: none;
}

.button:focus,
.button:hover {
  background-color: rgba(135, 210, 141, 1);
}

.label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}
.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.iconeye {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-20%);
  color: solid rgba(47, 47, 47, 1);
}
.errorMessage {
  color: rgba(239, 80, 80, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 8px;
  margin-top: 8px;
  display: block;
}
.errorInput {
  border-color: rgba(239, 80, 80, 1);
  color: rgba(239, 80, 80, 1);
}
.text {
  font-family: Poppins;
  font-size: 16px; /* Default size for desktop */
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  color: rgba(47, 47, 47, 0.5);
}

/* Mobile first */
@media screen and (min-width: 320px) {
  .modal {
    margin-top: 170px;
    margin-bottom: 170px;
    width: 100%;
    /*  padding-left: 16px;
    padding-right: 16px; */
  }
  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .link {
    font-size: 14px;
    font-weight: 700;
  }
  .input::placeholder {
    font-size: 14px;
  }
  .h2 {
    font-size: 32px;
  }
  .label {
    font-size: 14px;
  }
}

@media screen and (min-width: 375px) {
  .text {
    font-size: 14px;
  }
  .link {
    font-size: 14px;
  }
  .input::placeholder {
    font-size: 14px;
  }
  .h2 {
    font-size: 32px;
  }
  .label {
    font-size: 14px;
  }
  .modal {
    margin-top: 170px;
    margin-bottom: 170px;
    width: 311px;
    /*    padding-left: 16px;
    padding-right: 16px; */
  }
}

/* Tablet and > */
@media screen and (min-width: 768px) {
  .modal {
    width: 436px;
    margin-top: 227px;
    margin-bottom: 227px;
  }
  .text {
    font-size: 16px;
  }
  .label {
    font-size: 16px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
  .h2 {
    font-size: 36px;
  }
}

/* Desktop and > */
@media screen and (min-width: 1440px) {
  .modal {
    width: 436px;
    background-color: rgba(240, 239, 244, 1);
    /*     margin-bottom: 100px;
    margin-top: 74px; */
  }
  .text {
    font-size: 16px;
  }
  .label {
    font-size: 16px;
  }
  .input::placeholder {
    font-size: 16px;
  }
  .h2 {
    font-size: 36px;
  }
}
